.rangeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2.5px solid var(--platinum);
  cursor: pointer;
  outline: none;
}

.leftLabel,
.rightLabel {
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 21.47px;
  text-align: left;
  color: var(--charcoal);
}
