.viewCampaign_container {
  position: relative;
  max-width: 1728px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* padding: 60px; */
  padding: 114px 80px 200px 80px;
}

.viewCampaign_subContainer {
  display: flex;
  /* grid-template-columns: 61% 35% */
  flex-direction: row;
  gap: 24px;
}

.viewCampaign_headerAndBudgetSpend {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.viewCampaign_header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.viewCampaign_headerTitle {
  font-size: 55px;
  font-weight: 500;
  line-height: 68px;
  text-align: left;
  color: var(--black);
}

.viewCampaign_headerSubTitle {
  font-family: 'HelveticaNeuelight';
  font-size: 18px;
  font-weight: 400;
  line-height: 21.47px;
  text-align: left;
  color: var(--charcoal);
}

.viewCampaign_budgetSpend {
  max-width: 1430px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 24px 34px 24px 24px;
  border: 4px solid var(--ash);
  border-radius: 15px;
}

.viewCampaign_campaignDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.viewCampaign_dueAndStartDate {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.viewCampaign_dueDate {
  font-family: 'HelveticaNeueBold';
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: right;
  color: var(--cherryRed);
}

.viewCampaign_startDate {
  font-family: 'HelveticaNeueRoman';
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: right;
  color: var(--charcoal);
}

.viewCampaign_extendCampaignBtn {
  padding: 15px 33px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--white);
}

.viewCampaign_statisticsAndGallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 850px;
}

.viewCampaign_audioDetails {
  display: flex;
  gap: 26px;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--white);
  border: 4px solid var(--ash);
}

.viewCampaign_audioImg {
  width: 114px;
  height: 114px;
  overflow: hidden;
  border-radius: 15px;
}

.viewCampaign_audioTrackTitleAndDesc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.viewCampaign_audioTrackTitle {
  font-size: 23px;
  font-weight: 500;
  line-height: 28.08px;
  text-align: left;
  color: var(--black);
}

.viewCampaign_audioTrackSubTitle {
  font-family: 'HelveticaNeueRoman';
  font-size: 18px;
  font-weight: 400;
  line-height: 21.47px;
  text-align: left;
  color: var(--charcoal);
}

.viewCampaign_statisticListItems {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.viewCampaign_topVideos {
  /* max-width: 900px; */
  width: 100%;
  border-radius: 15px;
  border: 4px solid var(--ash);
  background-color: var(--white);
}

.viewCampaign_topVideoHeader {
  font-size: 23px;
  font-weight: 500;
  line-height: 28.08px;
  text-align: left;
  color: var(--black);
  padding: 26px;
  border-bottom: 2px solid var(--platinum);
}

.viewCampaign_videoGallery {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px;
  padding: 24px 30px 30px 30px;
}

.viewCampaign_chevronIconView {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 18px;
  cursor: pointer;
}

.viewCampaign_downChevronIcon {
  width: 14px;
  height: 22px;
}

.viewCampaign_downChevronFit {
  object-fit: contain;
}

.viewCampaign_selectVideoBoxAndCopyLink {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: fit-content;
}

.viewCampaign_codeCopyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  background-color: var(--white);
  border: 4px solid var(--ash);
  border-radius: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: var(--black);
}
.viewCampaign_videoGalleryEmpty {
  width: 100%;
  text-align: center;
  padding: 8px;
}
