.viewCampaign_container {
  max-width: 1728px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* padding: 60px; */
  padding: 114px 80px 200px 80px;
}

.viewCampaign_subContainer {
  display: flex;
  /* grid-template-columns: 61% 35% */
  flex-direction: row;
  gap: 24px;
}

.viewCampaign_headerAndBudgetSpend {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.viewCampaign_header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.viewCampaign_headerTitle {
  font-size: 55px;
  font-weight: 500;
  line-height: 68px;
  text-align: left;
  color: var(--black);
}

.viewCampaign_headerSubTitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.47px;
  text-align: left;
  color: var(--charcoal);
}

.viewCampaign_budgetSpend {
  max-width: 1430px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 24px 34px 24px 24px;
  border: 4px solid var(--ash);
  border-radius: 15px;
}

.viewCampaign_campaignDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.viewCampaign_dueAndStartDate {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.viewCampaign_dueDate {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: right;
  color: var(--cherryRed);
}

.viewCampaign_startDate {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: right;
  color: var(--charcoal);
}

.viewCampaign_extendCampaignBtn {
  padding: 15px 33px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--white);
}

.viewCampaign_statisticsAndGallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 850px;
}

.viewCampaign_audioDetails {
  display: flex;
  gap: 26px;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--white);
  border: 4px solid var(--ash);
}

.viewCampaign_audioImg {
  width: 114px;
  height: 114px;
  overflow: hidden;
  border-radius: 15px;
}

.viewCampaign_audioTrackTitleAndDesc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.viewCampaign_audioTrackTitle {
  font-size: 23px;
  font-weight: 500;
  line-height: 28.08px;
  text-align: left;
  color: var(--black);
}

.viewCampaign_audioTrackSubTitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.47px;
  text-align: left;
  color: var(--charcoal);
}

.viewCampaign_statisticListItems {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.viewCampaign_topVideos {
  /* max-width: 900px; */
  width: 100%;
  border-radius: 15px;
  border: 4px solid var(--ash);
  background-color: var(--white);
}

.viewCampaign_topVideoHeader {
  font-size: 23px;
  font-weight: 500;
  line-height: 28.08px;
  text-align: left;
  color: var(--black);
  padding: 26px;
  border-bottom: 2px solid var(--platinum);
}

.viewCampaign_videoGallery {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px;
  padding: 24px 30px 30px 30px;
}

.viewCampaign_chevronIconView {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 18px;
  cursor: pointer;
}

.viewCampaign_downChevronIcon {
  width: 14px;
  height: 22px;
}

.viewCampaign_downChevronFit {
  object-fit: contain;
}

.viewCampaign_selectVideoBoxAndCopyLink {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: fit-content;
}

.viewCampaign_codeCopyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  background-color: var(--white);
  border: 4px solid var(--ash);
  border-radius: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: var(--black);
}

.viewCampaign_selectedVideoBox {
  height: 100%;
  max-width: 556px;
  width: 100%;
  background-color: var(--white);
  border-radius: 15px;
  border: 4px solid var(--ash);
}

.viewCampaign_selectedVideoTitle {
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: var(--black);
  padding: 25px 25px 18px 30px;
}

.viewCampaign_videoOverViewAndLinks {
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding: 0px 38px 30px 46px;
}

.viewCampaign_videoOverviewDetails {
  display: flex;
  gap: 27px;
}

.viewCampaign_reelDetails {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.viewCampaign_profileBox {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.viewCampaign_profileDetails {
  display: flex;
  align-items: center;
  gap: 12px;
}

.viewCampaign_profileImg {
  width: 54px;
  height: 54px;
  overflow: hidden;
  border-radius: 50%;
}

.viewCampaign_profileName {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.42px;
  color: var(--black);
  word-break: break-all;
}

.viewCampaign_profileDesc {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.47px;
  text-align: left;
  color: var(--charcoal);
}

.viewCampaign_videoStatistics {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.viewCampaign_videoStatisticsLabel {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: var(--black);
}

.viewCampaign_linksInputsAndBoostBtn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.viewCampaign_copyLinkBox {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.viewCampaign_copyLinkAndLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.viewCampaign_link {
  display: flex;
  align-items: center;
  height: 56px;
  border: 4px solid var(--ash);
  background-color: var(--white);
  border-radius: 15px;
  padding: 12px 20px;
}

.viewCampaign_linkText,
.viewCampaign_linkTextSparkCode {
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.98px;
  text-align: left;
  color: var(--oceanBlue);
}

.viewCampaign_linkTextSparkCode {
  color: var(--black);
}

.viewCampaign_copyLinkLabel {
  width: fit-content;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
  margin-left: 5px;
  cursor: pointer;
}

.viewCampaign_boostVideoBtn {
  width: 215px;
  align-self: flex-end;
  padding: 16px 30px 16px 10px;
  background-color: var(--oceanBlue);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  gap: 16px;
}

.viewCampaign_upArrowIcon {
  width: 12px;
  height: 16px;
}
.viewCampaign_videoGalleryEmpty {
  width: 100%;
  text-align: center;
  padding: 8px;
}
