.privacyPolicy_container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 80px;
  background-color: var(--frostWhite);
  overflow: scroll;
}

.privacyPolicy_overView {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.privacyPolicy_title {
  font-size: 55px;
  font-weight: 500;
  line-height: 68px;
  color: rgba(0, 0, 0, 1);
}

.privacyPolicy_lastUpdated,
.privacyPolicy_lastUpdated span {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.privacyPolicy_lastUpdated span {
  font-weight: 600;
}

.privacyPolicy_description {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.termsAndConditions_keyPoints {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.termsAndConditions_keyPointBox,
.termsAndConditions_keyPointBoxWithBorder {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.termsAndConditions_keyPointBoxWithBorder {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding-bottom: 20px;
}

.termsAndConditions_keyPointTitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}

.termsAndConditions_subClauseBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.termsAndConditions_subClause {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.termsAndConditions_subClauseTitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
}

.termsAndConditions_subClauseDesc {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.termsAndConditions_subClauseLevelTwo,
.termsAndConditions_subClauseLevelThree {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.termsAndConditions_subClauseLevelThree {
  font-weight: 600;
}

.termsAndConditions_subClauseThreeSubTitle {
  font-weight: 400;
}

.termsAndConditions_subClauseLevelTwoDesc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.termsAndConditions_disclaimer {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
